# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Manifold Software
Manifold/

# temporary file
tmp*

# data
data/quickhull/
data/subdivision/
data/smooth/
data/simplification/